{% extends 'todo/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<h1 class="centralise home_heading">Login</h1>
<br><br><br>
<div class="userform">
  <form method="post">
    {% csrf_token %}
    <div class="form-group row">
      <div class="col-3">
        <label for="username"><strong style="font-size:20px;">Username</strong></label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control inputboxes" id="username" name="username">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-3">
        <label for="password"><strong style="font-size:20px;">Password</strong></label>
      </div>
      <div class="col-9">
        <input type="password" class="form-control inputboxes" id="password" name="password">
      </div>
    </div>
    <br>
    <div class="centralise">
      <p class="error">{{ error }}</p>
      <button style="width: 50%;" type="submit" name="button" class="btn btn-md btn-success">Submit</button>
      <p>Need an account? <a href="{% url 'signupuser' %}">Sign up!</a></p>
    </div>
  </form>
</div>

{% endblock %}
